html { 
  background-color: #00006F;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-smooth: always;
  text-rendering: optimizeLegibility;

  color: white;
}

.content {
  height: 35vh;
  margin: 19vh auto;
  text-align: center;
}

.subcontent {
  display: none;
}

.header {
/*  margin-top: 50px;*/
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 20vmin;
  cursor: pointer;
  letter-spacing: 0.025em;
  text-align: center;
}

.subhead {
  color: #CE0202;
}

#nav {
  margin-top: 3vh;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.025em;
  list-style-type: none;
}

#nav li {
  float: left;
  width: 30vmin;
  height: 8vmin;
  border: 3px solid white;
  text-align: center;
  margin: 2.0vmin;
  line-height: 8vmin;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
}

#nav li:hover{
    border: 3px solid #BBB;
    background-color: #BBB;
    opacity: 0.8;
    cursor: pointer;
}

#nav a {
  line-height: 8vmin;
  text-decoration: none;
  color: white;
}

#event {
  height: 200px;
  font-size: 50px;
  padding-top: 50px;
}

#team {
  text-align: center;
  margin: 50px auto 100px auto;
  background-color: #860E0E;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#contact {
  margin: 50px;
}

.item {
  display: block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  padding: 50px;
}

.item .image {
  display: inline;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.image img {
  height: 200px;
  border: 1px solid #EDEDED;
}

img {
  vertical-align: middle;
}

h1, .h1 {
  font-size: 63px;
  font-weight: bold;
}

body {
  position: relative;
}

.collection h1, .collection .underline_divider {
  color: black;
  border-color: black;
  margin-top:20px;
  margin-bottom: 20px;
}

.navbar-default {
  border-color: transparent;
}

.navbar-brand {
  float: left;
  height: 100%;
  padding: 7px 10px;
}

.collection h3 {
  color: black;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-style: italic;
}

@media screen and (max-width: 530px) {
  .content {
    margin-top: 5vh;
  }

  .nav {
    margin-left: -10vmin;
    display: block;
  }

  .nav li {
    clear: left;
    width: 80vmin;
    font-size: 4vmin;
  }

  .nav a {
    line-height: 8vmin;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

#byline {
  margin-top: 100px;
  animation: fadeInUp .75s ease;
  -webkit-animation: fadeInUp .75s ease;
  animation-delay: .25s;
  -webkit-animation-delay: .25s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.btn-primary {
  color: #020202;
  background-color: #FFFFFF;
}

.btn {
  font-size: 14px;
  border-radius: 0px;
  font-style: italic;
}

form {
  margin: 0 auto;
  max-width: 439px;
  display: block;
  margin-top: 0em;
  text-align: center;
  color: #555;
}

.field {
  width: 100%;
  height: 27px;
  background: #efefef;
  border: 1px solid #dedede;
  padding: 10px;
  margin-top: 15px;
  font-size: 1em;
  color: #0A1D80;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input, input[type="password" i], input[type="search" i] {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: 2px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}

input, textarea, keygen, select, button {
  margin: 0em;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

input{
  -webkit-writing-mode: horizontal-tb;
}

#message {
  height: 200px;
}

.button {
  border: 0;
  border-radius: 3px;
  border-color: #0A1D80;
  display: inline-block;
  cursor: pointer;
  transition-duration: .1s;
  padding: 10px 14px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  width: 100px;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.button:hover {
  opacity: .5;
}