html, body {
  height: 100%;
  margin:0;
  padding:0;
  font-family: 'Futura Book', sans-serif;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#banner {
  background-color: #860E0E;
  margin: 0;
  padding-bottom: 60px;
  overflow-y: hidden;
}

#title-before {
  height: 100%;
  display: table;
  width: 100%;
}

#title {
  color: rgb(7, 7, 123);
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-all;
  height: 500px;
}

#title h1 {
  text-align: center;
  font-family: "Bebas Neue",sans-serif;
  /* font-style: italic; */
  font-weight: 500;
/*  padding-left: 40px;
  padding-right: 40px;*/
  margin-left: auto;
  margin-right: auto;
  font-size: 10em;
  color: black;
  text-decoration: none;
}

#title a {
  color: black;
  text-decoration: none;
}

#title a:hover{
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.navbar-default {
  background-color: #FFFFFF;
  opacity: 0.9;
}

.navbar .navbar-tabs {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav li {
  width: 16em;
  font-weight: normal;
}

.nav > li {
  display: inline-block;
}

body { 
  padding-top: 70px; 
}

.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  height: 600px;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: white
}

.collection {
/*  padding-top: 50px;
  padding-bottom: 50px;*/
  text-align: center;
}

.jumbotron h1, .jumbotron .underline_divider {
  color: white;
  border-color: black;
  margin-top:20px;
  margin-bottom: 20px;
}

.jumbotron p {
  font-size: 35px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

ul {
  list-style-type: none;
}

#home p, #home h1 {
  color: rgb(7, 7, 123);
}

#banner {
  background-image: url('images/events/maskwig2.jpg');
}

#about {
  background-image: url('images/canvas.jpg');
}

#team {
  text-align: center;
  font-size: 15px;
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  /*max-width: 840px;*/
  /* width: 100%; */
  margin: 50px auto 100px auto;
  background-color: #860E0E;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#events {
  background-color: rgb(26, 8, 179);
  padding-top: 30px;
  margin-top: 0px;
}

#events h1, #events .underline_divider, #events h2, #events p {
  color: silver;
  border-color: silver;
}

#contact {
  background-image: url('images/field.jpg');
  height: 600px;
}

#suggestion {
  background-color: #860E0E;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  overflow-y: hidden;
}

.underline_divider {
  text-align: center;
  border-bottom: 3px solid #2d3038;
  width: 90px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  /* height: 320px; */
  padding-top: 30px;
  max-width: 840px; 
}

.item .image {
  display: inline;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.image img {
  height: 200px;
  border: 1px solid #EDEDED;
}

img {
  vertical-align: middle;
}

h1, .h1 {
  font-size: 63px;
  font-weight: bold;
}

body {
  position: relative;
}

.collection h1, .collection .underline_divider {
  color: black;
  border-color: black;
  margin-top:20px;
  margin-bottom: 20px;
}

.navbar-default {
  border-color: transparent;
}

.navbar-brand {
  float: left;
  height: 100%;
  padding: 7px 10px;
}

.collection h3 {
  color: black;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-style: italic;
}

/*#events h1 {
  font-weight: 300;
}*/

#events .item {
  width: 400px;
  height: 380px;
}

#events p {
  font-size: 14px;
}

#events img {
  width: 360px;
}

.jumbotron .underline_divider {
  color: white;
  border-color: white;
}

#contact .glyphicon {
  color: white;
  font-size: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.glyphicon a:hover{
  cursor: pointer;
  color: white;
}

#events .glyphicon {
  color: black;
  font-size: 30px;
}

h2, .h2{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 40px;
  color: black;
}

h3, .h3{
  font-size: 50px;
  text-align: center;
  color: white;
}

p {
  color: black;
}

.btn-primary {
  color: #020202;
  background-color: #FFFFFF;
}

.btn {
  font-size: 14px;
  border-radius: 0px;
  font-style: italic;
}

form {
  margin: 0 auto;
  max-width: 439px;
  display: block;
  margin-top: 0em;
  text-align: center;
  color: #555;
}

.field {
  width: 100%;
  height: 27px;
  background: #efefef;
  border: 1px solid #dedede;
  padding: 10px;
  margin-top: 15px;
  font-size: 1em;
  color: #0A1D80;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input, input[type="password" i], input[type="search" i] {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: 2px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}

input, textarea, keygen, select, button {
  margin: 0em;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

input{
  -webkit-writing-mode: horizontal-tb;
}

#message {
  height: 200px;
}

.button {
  border: 0;
  border-radius: 3px;
  border-color: #0A1D80;
  color: #fff;
  background-color: #0A1D80;
  display: inline-block;
  cursor: pointer;
  transition-duration: .1s;
  padding: 10px 14px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  width: 100px;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}


